@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap");

@mixin fontMixin($size, $weight, $height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin sectionMixin() {
  border-radius: 12px;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.container {
  width: 100%;
  display: flex;
  margin: 0 auto;
  aside {
    background-color: #fff;
    width: 280px;
    height: 100vh;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .head_buttons {
      .aside_button {
        cursor: pointer;
        padding: 8px 12px;
        display: flex;
        align-items: center;
        p {
          padding-left: 12px;
          @include fontMixin(14px, 500, 20px);
        }
      }
      .page_1 {
        img {
          color: #667085;
        }
      }
    }
    .footer_button {
      padding: 8px 12px;
      position: fixed;
      width: 18%;
      top: 90%;
      cursor: pointer;
      display: flex;
      align-items: center;
      p {
        padding-left: 12px;
        @include fontMixin(14px, 500, 20px);
      }
    }
  }
  main {
    width: calc(100% - 280px);
    background-color: #f6f7fa;

    h1 {
      padding-top: 44px;
      text-align: center;
      @include fontMixin(48px, 400, 58px);
      border-bottom: 1px solid #eaecf0;
    }
    .main_container {
      padding: 32px 62px 37px 62px;
      .main_chart {
        padding: 48px 100px 48px 0;
        display: flex;
        div {
          &:nth-child(1),
          &:nth-child(3) {
            div {
              background-color: #1fc0ae;
            }
          }
          .round {
            width: 72px;
            height: 72px;
            border-radius: 50%;
            background-color: #eaecf0;
          }

          p {
            text-align: center;
          }
        }
        .round_wrap + .round_wrap {
          margin-left: 144px;
        }
        .divide {
          width: 144px;
          padding-top: 40px;
          hr {
            border-width: 1px;
            border-color: #1fc0ae;
            border-style: dashed;
          }
        }
      }
      .middle_section {
        display: flex;
        margin-bottom: 15px;
        .info {
          width: calc(50% - 10px);
          @include sectionMixin();
          padding: 20px 20px 8px 20px;
          margin-right: 20px;
          h3 {
            @include fontMixin(20px, 500, 27px);
          }
          div {
            display: flex;
            justify-content: space-between;
            p {
              @include fontMixin(16px, 500, 24px);

              &:last-of-type {
                color: #8e99ab;
              }
            }
          }
          div + div {
            padding-top: 12px;
          }
          h3 + div {
            padding-top: 23px;
          }
        }
        .delivery {
          display: flex;
          align-items: center;
          justify-content: space-around;
          @include sectionMixin();
          width: calc(50% - 10px);
          div {
            h3 {
              @include fontMixin(24px, 800, 33px);
              color: #1fc0ae;
            }
            p {
              @include fontMixin(14px, 400, 24px);
              color: #1fc0ae;
              text-align: center;
              padding-top: 5px;
            }
          }
        }
      }
      .order_section {
        @include sectionMixin();
        padding: 20px ;
        margin-bottom: 40px;
        h2 {
          @include fontMixin(20px, 500, 27px);
        }
        label {
          padding-top: 20px;
          display: inline-block;
          color: #8E99AB;
          @include fontMixin(12px,400 ,24px );
        }
        select {
          width: 100%;
          padding: 8px 12px;
          border-radius: 8px;
          color:  #8E99AB;
          border-color: #EAECF0;
          @include fontMixin(16px,400 ,24px );


        }
      }
    }
  }
}

.view{
  background-color:  rgba(31, 192, 174, 0.19);
  border-radius: 6px;
}