@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.container aside {
  background-color: #fff;
  width: 280px;
  height: 100vh;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container aside .head_buttons div {
  cursor: pointer;
  padding: 8px 12px;
  display: flex;
  align-items: center;
}
.container aside .head_buttons div p {
  padding-left: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.container aside .head_buttons .page_1 img {
  color: #667085;
}
.container aside .footer_buttons {
  padding: 8px 12px;
  position: fixed;
  top: 90%;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.container aside .footer_buttons p {
  padding-left: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.container main {
  width: calc(100% - 280px);
  background-color: #f6f7fa;
}
.container main h1 {
  padding-top: 44px;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  border-bottom: 1px solid #eaecf0;
}
.container main .main_container {
  padding: 32px 62px 37px 62px;
}
.container main .main_container .main_chart {
  padding: 48px 100px 48px 0;
  display: flex;
}
.container main .main_container .main_chart div:nth-child(1) div, .container main .main_container .main_chart div:nth-child(3) div {
  background-color: #1fc0ae;
}
.container main .main_container .main_chart div .round {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #eaecf0;
}
.container main .main_container .main_chart div p {
  text-align: center;
}
.container main .main_container .main_chart .round_wrap + .round_wrap {
  margin-left: 144px;
}
.container main .main_container .main_chart .divide {
  width: 144px;
  padding-top: 40px;
}
.container main .main_container .main_chart .divide hr {
  border-width: 1px;
  border-color: #1fc0ae;
  border-style: dashed;
}
.container main .main_container .middle_section {
  display: flex;
  margin-bottom: 15px;
}
.container main .main_container .middle_section .info {
  width: calc(50% - 10px);
  border-radius: 12px;
  background-color: #fff;
  padding: 20px 20px 8px 20px;
  margin-right: 20px;
}
.container main .main_container .middle_section .info h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
}
.container main .main_container .middle_section .info div {
  display: flex;
  justify-content: space-between;
}
.container main .main_container .middle_section .info div p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.container main .main_container .middle_section .info div p:last-of-type {
  color: #8e99ab;
}
.container main .main_container .middle_section .info div + div {
  padding-top: 12px;
}
.container main .main_container .middle_section .info h3 + div {
  padding-top: 23px;
}
.container main .main_container .middle_section .delivery {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 12px;
  background-color: #fff;
  width: calc(50% - 10px);
}
.container main .main_container .middle_section .delivery div h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 33px;
  color: #1fc0ae;
}
.container main .main_container .middle_section .delivery div p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #1fc0ae;
  text-align: center;
  padding-top: 5px;
}
.container main .main_container .order_section {
  border-radius: 12px;
  background-color: #fff;
  padding: 20px 20px 8px 20px;
}
.container main .main_container .order_section h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
}
.container main .main_container .order_section label {
  padding-top: 20px;
  display: inline-block;
}
.container main .main_container .order_section select {
  width: 100%;
}/*# sourceMappingURL=index.css.map */